<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"/>
</head>
<body>

	<div class="container">
		<nav class="navbar navbar-light bg-light">
			<a class="navbar-brand" href="#">Mail Boy developed by Dev Jimoh</a>
			<ul class="navbar-nav">
				<li class="navbar-item"><a class="nav-link"href='{% url "mailinglist:mailinglist_list" %}'>Your Mailing Lists</a>
					
				</li>
				{% if request.user.is_authenticated %}
				<li class="navbar-item">
				
					<a class="nav-link" href='.'>Logout</a>
			
				</li>
				{% else %}
				<li class="navbar-item">
					<a class="nav-link" href='.'>Your Mailing Lists</a>
				</li>
				<li class="navbar-item">
					<a class="nav-link" href='.'>Your Mailing Lists</a> 
				</li>
				{% endif %}
			</ul>
		</nav>
		{% block body %}
		{% endblock %}
	</div>
</body>
</html>